
.skills-icon-holder {
  background: #41A4F5;
  width: 80px;
  height: 80px;
  padding-top: 1.25rem;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}

.skills {
  background: #F7F8FA;
}

.text-primary {
  color: #41A4F5 !important;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}